*{
  margin:0px;
  background: #000044;
  user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100%;
  /* background-color: red; */
}

.name{
  color:#fff;
  font-size: 28px;
  font-family: Century Gothic;
  font-weight: 900;
  margin-bottom: 20px;
}

.logo{
  display: flex;
  /* margin: 20px 0px; */
}

.logo div img{
  /* width:20px; */
  height:100px;
  padding:0px 10px;
  transition-duration: 200ms;
}

.logo div img:hover{
  scale: 1.1;
}

.start{
  margin-top:20px;
  border:solid 0px red;
  background-color: white;
  padding:15px 40px;
  font-size: 28px;
  border-radius:60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 500ms;
  text-decoration: none;
}

.start:hover{
  scale:1.1;
  /* cursor:pointer; */
  background-color: aquamarine;
}

.play{
  display: flex;
  flex-direction: column;
  height:100vh;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  /* width:500px; */
}

.score{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:0px solid ;
  border-radius: 50px;
  height:50px;
  background-color:#baa6a6;
  color:Black;
  font-size: 40px;
  width:400px;
  text-align:center;
}

.cOptions{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  margin: 20px 0px;
}

.cOptions div img{
  height:100px;
}

.line{
  height:10px;
  width:400px;
  background-color: pink;
  margin: 40px;
}

.pOptions{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  margin: 20px 0px;
}

.pOptions div img{
  height:100px;
}

.timer{
  margin:20px;
  font-size:72px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#fff;
}

.quit{
  margin-top:20px;
  border:solid 0px red;
  background-color: white;
  padding:15px 40px;
  font-size: 28px;
  border-radius:60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 500ms;
  text-decoration: none;
}

.quit:hover{
  scale:1.1;
  background-color: aquamarine;
}

.hide{
  display: none;
}

.win{
  background: rgba(255, 0, 0, 0);
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp{
  height:400px;
  width: 500px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  align-items: center;
  background: #fff;
  
}

.winner{
  height:70%;
  /* background: blueviolet; */
}

.won{
  font-family: Montserrat;
  font-size: 80px;
  /* background: blueviolet; */
  color: blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;  
  font-weight: 500;
}

#navs{
  /* margin-top: 80px; */
  background: #fff;  
  height:20%;
  margin-top: 5%;
  /* margin-bottom: 50px; */
  display: flex;
  align-items: center;
  width:100%;
  justify-content: space-around;
  font-size: 24px;
  text-decoration: none;
}

.navs{
  color:white;
  background: blue;
  text-decoration: none;
  border: 0px solid;
  width: fit-content;
  border-radius: 35px;
  text-align: center;
  padding: 10px 30px;
  font-family: Montserrat;
}

.navs:hover{
  cursor:pointer;
}